# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# GitKraken
/logs

# CMake
/build
/out

# NPM
node_modules

# Webpack
/dist
*.d.ts
/src/modules_js/crypto.js
/src/modules_js/memfs.js
/src/modules_js/zlib.js
/src/modules_js/chai.js
/src/modules_js/uvu.js

# Cargo
/target
/modules.tar.gz
!lib/*.a
embedded_modules.rs
